<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,59}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,691},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,55}</string>
                <key>spriteSize</key>
                <string>{122,64}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{355,505},{122,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{174,170}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,357},{174,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{174,174}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{179,179},{174,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{174,174}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{179,355},{174,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{179,1},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,179},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,51}</string>
                <key>spriteSize</key>
                <string>{138,74}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{357,175},{138,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{355,251},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,46}</string>
                <key>spriteSize</key>
                <string>{156,86}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{387,571},{156,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,41}</string>
                <key>spriteSize</key>
                <string>{162,98}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{287,571},{162,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{166,110}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{175,571},{166,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,26}</string>
                <key>spriteSize</key>
                <string>{170,126}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{355,333},{170,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{172,144}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{357,1},{172,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{172,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,192}</string>
                <key>textureRect</key>
                <string>{{1,529},{172,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ball.png</string>
            <key>size</key>
            <string>{506,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:968d29c24bc629b726f1c64eb139b1df:258af87508c7a4471c19ec17dd590030:e57f35bfef2be3d4eb0ba1c46e3d929b$</string>
            <key>textureFileName</key>
            <string>ball.png</string>
        </dict>
    </dict>
</plist>
