# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/AirHockey/proj.win32/Debug.win32/AirHockey.Build.CppClean.log
/AirHockey/proj.win32/Debug.win32/AirHockey.log
/AirHockey/proj.win32/Debug.win32/AirHockey.Build.CppClean.log
/AirHockey/proj.win32/Debug.win32/AirHockey.log
/AirHockey/proj.win32/Debug.win32/AirHockey.pdb
/AirHockey/proj.win32/Debug.win32/libcocos2d.pdb
/AirHockey/proj.win32/Debug.win32/vc141.pdb
/AirHockey/proj.win32/Debug.win32/vc141.idb
/AirHockey/proj.win32/Debug.win32
/AirHockey/proj.win32/.vs
/AirHockey/proj.win32/Debug.win32
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32
/AirHockey/cocos2d/cocos/2d/Debug.win32
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32
/AirHockey/cocos2d/cocos/2d/Debug.win32/libcocos2d.log
/AirHockey/cocos2d/external/recast/proj.win32/Debug.win32/librecast.pdb
/AirHockey/cocos2d/external/recast/proj.win32/Debug.win32/librecast.tlog/CL.read.1.tlog
/AirHockey/cocos2d/external/recast/proj.win32/Debug.win32/librecast.tlog/CL.write.1.tlog
/AirHockey/cocos2d/cocos/2d/Debug.win32/libcocos2d.log
/AirHockey/cocos2d/external/recast/proj.win32/Debug.win32/librecast.pdb
/AirHockey/cocos2d/external/recast/proj.win32/Debug.win32/librecast.tlog/CL.read.1.tlog
/AirHockey/cocos2d/external/recast/proj.win32/Debug.win32/librecast.tlog/CL.write.1.tlog
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/libSpine.idb
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/libSpine.log
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/libSpine.pdb
/AirHockey/cocos2d/external/recast/proj.win32/Debug.win32
/AirHockey/proj.android/app/.cxx
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/*.filters
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/*.user
/AirHockey/cocos2d/external/recast/proj.win32/*.filters
/AirHockey/cocos2d/external/recast/proj.win32/*.user
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/libSpine.vcxproj.filters
/AirHockey/cocos2d/cocos/editor-support/spine/proj.win32/libSpine.vcxproj.user
/AirHockey/cocos2d/external/recast/proj.win32/librecast.vcxproj.filters
/AirHockey/cocos2d/external/recast/proj.win32/librecast.vcxproj.user
